.information {
    width: 80%;
    margin: 150px auto;
    display: grid;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

h1{
    font-size: 100px;
}

h4{
    font-size: 16px;
}

h5{
    font-size: 15px;
}

.photoPerfil {
    padding: 250px 250px;
    text-align: end;
    background-image: url("../assets/GatitoUwu.jpg");
    background-size: cover;
    border-radius: 250px;
}

.Me {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

.infoMe {
    background: #2b2bf3;
    padding: 10px 20px;
    border-radius: 25px;
}

.extraData {
    margin: 160px auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.extraData {
    margin: 160px auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.timeZone{
    display: flex;
    flex-direction: column;
}

.tittles, .content {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}

.tittles h5, .content h4 {
    min-width: 180px; 
    text-align: left; 
}

.tittles {
    color: #2b2bf3;
}

.content {
    font-size: 20px;
}

.socialInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linkSocial {
    display: flex;
    margin: 30px auto;
    gap: 30px;
}